# Belajar Cleansing Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("D:/Data sets/penduduk_telepon_seluler_pedesaan.csv", encoding='utf-8')

In [3]:
data.head()

,nama_series,kode_wilayah,wilayah,tahun,nilai,target
0,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2001,NaN,100.0
1,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2002,NaN,100.0
2,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2003,NaN,100.0
3,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2004,NaN,100.0
4,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2005,8.19,100.0