### Excercise 1

In [2]:
import re

names = ["anaaa", "arumi", "sania", "vikar", "andragogi",
        "anda", "an__a", "Arumi", "sania99", "dian.a"]
pattern = "[a-z]{5,}$"
for name in names:
    match = re.search(pattern, name)
    if match:
        print(f"{name} : valid")
    else:
        print(f"{name} : invalid")

anaaa : valid
arumi : valid
sania : valid
vikar : valid
andragogi : valid
anda : invalid
an__a : invalid
Arumi : invalid
sania99 : invalid
dian.a : invalid

Memilih nama dengan hanya huruf abjad lower case minimal 5

### Excercise 2

In [9]:
import re

usernames = ['11anaaa', '18arum', '30Sania', '09vika', '43Andreas', '67dian.a',
            'andara11', '__andri', 'Arumi10', '9sania', 'dian.a', '10Aruumi10']
pattern = r"^\d{2}[A-Za-z.]+$"
for username in usernames:
    match = re.search(pattern, username)
    if match:
        print(f"{username} : valid")
    else:
        print(f"{username} : invalid")

11anaaa : valid
18arum : valid
30Sania : valid
09vika : valid
43Andreas : valid
67dian.a : valid
andara11 : invalid
__andri : invalid
Arumi10 : invalid
9sania : invalid
dian.a : invalid
10Aruumi10 : invalid

Memilih username yang hanya berpola memiliki diawali tepat 2 digit angka, dan setelah itu diakhiri dengan huruf abjad (uppercase/lowercase) minimal 1

### Excercise 3

In [2]:
import re

emails = ['Deby@pens.ac.id', 'amai78@pens.ac.id', 'lely_aja@pens.ac.id', 'd4@pens.ac.id',
          '7dian@pens.ac.id', 'd@pens.ac.id', 'deby@pens.com', ' _deby@pens']
pattern = r"^[a-zA-Z][\w]{1,}@pens\.ac\.id$"
for email in emails:
    match = re.search(pattern, email)
    if match:
        print(f"{email} : valid")
    else:
        print(f"{email} : invalid")

Deby@pens.ac.id : valid
amai78@pens.ac.id : valid
lely_aja@pens.ac.id : valid
d4@pens.ac.id : valid
7dian@pens.ac.id : invalid
d@pens.ac.id : invalid
deby@pens.com : invalid
 _deby@pens : invalid

Memilih email yang memiliki pola hanya diawali oleh huruf abjad (uppercase/lowercase) diikuti karakter(huruf, angka, underscore) minimal 1 dan diakhiri '@pens.ac.id'

### Excercise 4

In [ ]:
# Cleaning data
import re
import pandas as pd

df = pd.read_excel("c:\\Users\\ASUS\\OneDrive\\Semester-2\\Pemrosesan-Data\\Helm.xlsx")

print("Before")
print(df['harga'].head())

def clean_harga(data):
    cleaning = re.sub("Rp|\.", "", data)
    return int(cleaning)

df['harga'] = df['harga'].apply(clean_harga)

print("\nAfter")
print(df['harga'].head())

Before
0    Rp800.000
1    Rp337.000
2    Rp106.000
3    Rp253.999
4     Rp96.000
Name: harga, dtype: object

After
0    800000
1    337000
2    106000
3    253999
4     96000
Name: harga, dtype: int64

Membuat fungsi untuk membersihkan kolom 'harga' pada data yang di load menggunakan fungsi sub (substitution) untuk mencari "Rp" atau "." dan diganti nilai kosong (dihapus).